

li {
  font-size:      25px;
  font-weight:    bold;
}

.center {
    display: block;
  margin-left: auto;
  margin-right: auto;
  width: 25%;
}

#textString  {
  font-size:      25px;
  font-weight:    bold;
}

